body::-webkit-scrollbar{
    width: 10px;
    background: #2a3142;
}
body::-webkit-scrollbar-track{
    background: #2a3142;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(65, 68, 91, 0.89);
}