@import "mixins";
.dashboard{
  .ant-layout{
    .ant-layout-sider{
      height: 100vh;
      position: sticky;
      top: 0;
      background-color: $verticalDark !important;
      transition: all .3s ;
      .ant-layout-sider-children{
        .ant-menu{
          background: transparent !important;
          .ant-menu-item.ant-menu-item-selected{
            background: transparent;
            color: #a6b0cf;
          }
          .ant-menu-item{
            &:hover{
              .anticon, .ant-menu-title-content{
                color: #fff;
              }
            }
            .anticon, .ant-menu-title-content{
              color: #a6b0cf;
              transition: all .4s , linear;
            }
          }
        }
      }
    }
    .ant-layout.site-layout{
      background: $right-bg;
      color: #fff;
      .ant-layout-header{
        position: sticky;
        z-index: 10;
        top: 0;
        background: $bg-navbar;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .anticon{
          color: #a6b0cf;
          padding-left: 20px;
        }
        .header-menu{
          @include flex;
          .search-input{
            width: 300px;
            input{
              border: none;
              height: 38px;
              background-color: #353e53;
              box-shadow: none;
              border-radius: 30px;
              width: 100%;
              padding: 0.375rem 0.75rem;
              font-size: .875rem;
              font-weight: 400;
              line-height: 1.5;
              color: #9ca8b3;
              outline: none;
            }
          }
          .bell-icon{
            margin: 0 20px;
          }
          .setting-icon{
            margin: 0 25px;
          }
          .user-img{
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
            @include flex;
            justify-content: center;
            img{
              width: 100%;
              height: 100%;
            }
          }
          i{
            color: #dee2e6;
            font-size: 19px;
          }
        }
      }
      .ant-layout-content{
        margin: 0 !important;
        padding-top: 0 !important;
      }
      .setting-footer{
        padding: 20px calc(1.5rem / 2);
        color: #a6b0cf;
        height: 60px;
        background-color: #36394c;
        .ant-row{
          .ant-col-24{
            .text{
              justify-content: center;
              @include flex;
              i{
                margin: 0 7px;
                color: #ff4747;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}