@import "mixins";
@mixin cardStyle{
  background-color: $verticalDark;
  padding: 20px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-radius: 0.25rem;
}
.settings{
  .settings-header{
    padding: 24px 0;
    @include flex;
    justify-content: space-between;
    .header-left{
      .title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0.5rem;
        line-height: 1.2;
        color: #e9ecef;
      }
      p{
        margin: 0;
        color: rgba(239,242,247,.5);
      }
    }
    .header-right{
      .btn{
        @include flex;
        color: #fff;
        background-color: #626ed4;
        border:1px solid #626ed4;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: all .15s ease;
        &:hover{
          background-color: #535eb4;
          border-color: #4e58aa;
          cursor: pointer;
        }
        .btn-images-content{
          @include flex;
          .btn-images{
            mask-image: url("../images/setting.png");
            background-color: #fff;
            width: 14px;
            height: 14px;
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
            mask-position: center;
            margin-right: 7px;
          }
        }
      }
    }
  }
  .card-group{
    margin-bottom: 30px;
    .ant-row{
      justify-content: space-between !important;
      .ant-col-6{
        flex: 0 0 23.2%;
        max-width: 23.2%;
        .card{
          background-color: #626ed4;
          box-shadow: 0 0.75rem 1.5rem rgba(18 ,38 ,63 ,0.03);
          border-radius: 0.25rem;
          padding: 20px;
          transition: all .4s, linear;
          &:hover{
            background-color: #4256b4;
            cursor: pointer;
          }
          .card-body {
            display: flex;
            margin-bottom: 30px;
            .text-content {
              .name {
                font-size: 18px;
                color: rgba(255, 255, 255, .5);
                text-transform: uppercase;
                font-family: Sarabun, sans-serif;
                font-weight: 600;
              }
              .count {
                font-size: 30px;
                font-family: Sarabun, sans-serif;
                margin-bottom: 0.5rem;
                line-height: 1.2;
                font-weight: 500;
              }
            }
            .img-content {
              margin-right: 25px;
              width: 60px;
              height: 60px;
              padding: 10px;
              background: rgba(255, 255, 255, .15);
              border-radius: 4px;
              @include flex;
              justify-content: center;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .card-footer{
            .link{
              @include flex;
              justify-content: space-between;
              color: rgba(255,255,255,.5);
              line-height: 1.7;
              font-size: .95rem;
              .right-arrow-img{
                width: 33px;
                height:18px;
                mask-image: url("../images/right-arrow-svgrepo-com.svg");
                mask-size: 100% 100%;
                mask-position: center;
                mask-repeat: no-repeat;
                background-color: rgba(255,255,255,.5);
              }
            }
          }
        }
      }
    }
  }
  .graphics{
    .ant-row{
      .ant-col-15{
        padding-right:15px;
        .graphics-content{
          @include cardStyle;
          padding-bottom: 50px;
          .recharts-wrapper{
            width: 100% !important;
            .recharts-surface{
              width: 100% !important;
              .recharts-cartesian-grid{
                min-width: 100% !important;
              }
            }
            .recharts-legend-wrapper{
              margin: 0 auto;
              position: absolute;
              left: 50% !important;
              transform: translateX(-50%) !important;
              bottom: -33px !important;
              ul{

              }
            }
          }
        }
      }
      .ant-col-9{
        padding-left: 15px;
        .progress-bar{
          @include cardStyle;
          color: #fff;
        }
      }
    }
  }
  .settings-bottom{
    padding-top: 30px;
    .ant-row{
      .ant-col-8{
        .react-calendar-content{
          @include cardStyle;
          .react-calendar{
            border-color:  #a6b0cf;
            color: #a6b0cf;
            width: 100% !important;
            background-color: transparent !important;
            .react-calendar__navigation{
              .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button, .react-calendar__navigation__arrow.react-calendar__navigation__prev-button, .react-calendar__navigation__arrow.react-calendar__navigation__next-button, .react-calendar__navigation__arrow.react-calendar__navigation__next2-button, .react-calendar__navigation__label{
                &:hover{
                  background: $right-bg;
                  color: #fff;
                }
              }
            }
            .react-calendar__viewContainer{
              .react-calendar__year-view{
                .react-calendar__year-view__months{
                  .react-calendar__tile.react-calendar__year-view__months__month{
                    &:hover{
                      background: $right-bg;
                      color: #fff;
                    }
                  }
                }
              }
              .react-calendar__month-view{
                .react-calendar__month-view__days{
                  .react-calendar__tile.react-calendar__month-view__days__day{
                    &:hover{
                      background: $right-bg;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .ant-col-16{
       padding-left: 40px;
        .tab-list{
          @include cardStyle;
          table{
            width: 100%;
            thead{
              tr{
                th{
                  text-align: center;
                  color: #a6b0cf;
                  font-size: 16px;
                  border: 1px solid  #a6b0cf;
                }
              }
            }
            tbody{
              tr{
                td{
                  text-align: center;
                  color: #a6b0cf;
                  font-size: 16px;
                  border: 1px solid  #a6b0cf;
                  padding: 5px 0;
                  .ant-btn{
                    border-radius: 0;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}