.todo-form{
  padding-top: 60px;
  .ant-row{
    .ant-col-10{
      .input-group{
        display: flex;
        align-items: center;
        border-radius: 0 !important;
        .ant-input-affix-wrapper{
          background-color: #353e53;
          box-shadow: none;
          border-radius:0;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: .875rem;
          font-weight: 400;
          line-height: 1.5;
          color: #9ca8b3;
          outline: none;
          border-color: #9ca8b3;
          input{
            background-color: #353e53;
            color: #9ca8b3;
          }
        }
        .ant-select{
          .ant-select-selector{
            box-shadow: none;
            background-color: #353e53;
            color: #9ca8b3 !important;
            border-color: #9ca8b3;
            border-radius:0;
            border-left:none;
          }
          .ant-select-arrow{
            color: #9ca8b3 !important;
          }
        }
        .ant-btn{
          background-color: #353e53;
          color: #9ca8b3 !important;
          border-color: #9ca8b3;
          border-radius: 0;
          border-left: 0;
          &:after{
            display: none;
          }
        }

      }
      .tab-list{
        margin-top: 30px;
        table{
          width: 100%;
          thead{
            tr{
              th{
                text-align: center;
                color: #a6b0cf;
                font-size: 16px;
                border: 1px solid  #a6b0cf;
              }
            }
          }
          tbody{
            tr{
              td{
                text-align: center;
                color: #a6b0cf;
                font-size: 16px;
                border: 1px solid  #a6b0cf;
                padding: 5px 0;
                .ant-btn{
                  border-radius: 0;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}